$fontJost: "Jost";
$fontCalibri: "Calibri";
$fontRoboto: "Roboto";
$fontMali: "Mali";
$fontNoto: "Noto";
$a-hover: rgb(182, 180, 180);
$contact-a: rgb(97, 97, 97);
$backgroundbody: rgb(24, 24, 24);
$backgroundhead: black;
$buttonbackground: rgb(245, 204, 25);
$buttonhover: yellow;